{% extends 'index.html' %}
    
    {% block content %}
    <h1 class="mt-4">Статья: {{get_article.name}}</h1>
    <p><a href="/">Вернуться назад</a></p>


    <p>Дата создания:  {{get_article.create_date}}</p>
    <p>Название:  {{get_article.name}}</p>
    <p>Текст: {{get_article.text}}</p>
    
    
    <p>Комментарии ({{get_article.comments_articles.all.count}})</p>
    
    
    <hr>
    
    <p>Добавить комментарий</p>
    
    
        {% if messages %}
    <div class="alert alert-success">
        {% for m in messages %}
            {{m}}
        {% endfor %}
    </div>
    
    
    {% endif %}
    
    
    
    
    
    <ul>
    
    {% for item in get_article.comments_articles.all %}
    
    <li>

    {% include 'comment_item.html' %}

    </li>
    
    {% endfor %}
    </ul>
    
    <div class="col-4">
        

        <form action="" id="add_form" method="post">
            {% csrf_token %}
                {{form.as_p}}
        </form>



        <button form="add_form" type="submit" class="btn btn-primary">Добавить</button>

        
        
        

    </div>
    
    
{% endblock %}


{% block js %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
    $('body').on('click', '.update_status', function(event){
        event.preventDefault();
        if (confirm('Вы уверены')) {
            var url = $(this).attr('data-url')
            var tag_li = $(this).parent()
            console.log(url)
            
            $.ajax({
                url:url,
                type: 'GET',
                success: function(response) {
                    tag_li.html(response)
                    console.log(response)
                }
            })
            
        }

    })
</script>











{% endblock %}
